<h1 style="font-style: italic; background-color: rgb(214, 217, 226);">Welcome {{title}}</h1>

<form [formGroup]="customerModel.formCustomerGroup">
    <table>
    <tr>Customer code   : <input formControlName="CustomerCodeControl" 
        [(ngModel)]="customerModel.CustomerCode" type="text"/> </tr>
    <tr>Customer Name   : <input formControlName="CustomerNameControl" 
        [(ngModel)]="customerModel.CustomerName" type="text"/> </tr>
    <tr>Customer Amount : <input [ngModelOptions]="{standalone: true}" 
        [(ngModel)]="customerModel.CustomerAmount" type="text"/> </tr>

    <tr><input [disabled]="!(customerModel.formCustomerGroup.valid)" (click)="add()" type="button" value="Add"/> </tr>

    </table>
</form>

<div
        *ngIf="customerModel.formCustomerGroup.dirty" 
        [hidden]="!(customerModel.formCustomerGroup
                            .controls['CustomerCodeControl']
                            .hasError('pattern'))">
    customer code format is not proper</div>
<div *ngIf="customerModel.formCustomerGroup.dirty" 
        [hidden]="!(customerModel.formCustomerGroup
                            .controls['CustomerCodeControl']
                            .hasError('required'))">
    customer code is required</div>
<div [hidden]="!(customerModel.formCustomerGroup
                                .controls['CustomerNameControl']
                                .hasError('required'))" >
    customer name is required</div>

<table>
    <tr>
        <td>Code    </td>
        <td>Name    </td>
        <td>Amount  </td>
    </tr>
    <tr *ngFor="let customerModel of customerModels">
        <td>{{customerModel.CustomerCode}}</td>
        <td>{{customerModel.CustomerName}}</td>
        <td>{{customerModel.CustomerAmount}}</td>
    </tr>
</table>
